<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
    <title>Escape from the Yeti!</title>
</head>
<body id="yeti3">
<h1 id="yeti" class="hvr-grow">ESCAPE FROM THE YETI !</h1>
<br>
<p id="yeti2" class="hvr-grow">THE ULTIMATE SINGLE PLAYER MMORPG</p>
<form method="post">
    @helper.CSRF.formField
    <label for="playerName" id="playernamecss">ENTER YOUR NAME</label>
    <input type="text" name="playerName" id="playerName" class="playernamecss">
    <br>
    <br>
    <input id="button1" type="submit" value="I AM WORTHY">
</form>
</body>
</html>

